{
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true
    },
    "extends": [
        "airbnb-base",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 9,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "rules": {
        "react/prop-types": 0,
        "react/jsx-uses-vars": [
            2
        ],
        "no-console": 0,
        "semi": ["error", "never"],
        "indent": ["error", 4],
        "react/display-name": [0],
        "space-before-function-paren": ["error"],
        "implicit-arrow-linebreak": [0],
        "arrow-body-style": [0]
    }
}